#carpeta ContenidoSecreto
**/ContenidoSecreto

#Ignora archivo config.php
**/config.php

#Ignora todos los archivos con la extension .pdf que esten dentro de la carpeta assets
/assets/*.pdf
/assets/media/files/*.pdf


#Ignora todos los archivos con la extension txt
**.txt

#Ignorar imagenes
*IMG_20220515_125319*.jpg

#Ignora archivos con la bandera -prueba || -local
*-prueba*
*-local*

#Permitir archivos con la bandera -experimento
!*-experimento*