#carpeta ContenidoSecreto
/assets/media/ContenidoSecreto
/docs/contribuicion/ContenidoSecreto
/templates/ContenidoSecreto

#Ignora archivo config.php
**/config.php

#Ignora todos los archivos con la extension .pdf que esten dentro de la carpeta assets
assets/*.pdf

#Ignora todos los archivos con la extension txt
*.txt

#Ignorar imagenes
/assets/media/ContenidoSecreto/*.jpg
/docs/contribucion/ContenidoSecreto/*jpg
/templates/ContenidoSecreto/*jpg

#Ignora archivos con la bandera -prueba || -local
*-prueba*
*-local*

#Permitir archivos con la bandera -experimento
!*-experimento